.product-card {
    text-align: center;
    margin-bottom: 30px;
    

    &__image {
        padding-top: 100%;
        position: relative;
        overflow: hidden;
        margin-bottom: 30px;
        

        img {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            height: 100%;
            

            &:nth-child(1) {
                transform: translateX(-50%) scale(1);
                background-color: rgb(238, 238, 238);
               
                
            }

            &:nth-child(2) {
                transform: translateX(-50%) scale(0);
                background-color: rgb(207, 218, 250);
               
                
            }
        }

        &:hover img {
            &:nth-child(1) {
                transform: translateX(-50%) scale(0);
                
                
                
            }

            &:nth-child(2) {
                transform: translateX(-50%) scale(1);
                transition: transform 0.1s ease;
                
                
                
            }
        }
    }

    &__name {
        margin-bottom: 5px;
        color: $txt-second-color;
        font-size: 1.4rem;
        font-weight: normal;
    }
    &__descricao {
        margin-bottom: 5px;
        color: $txt-second-color;
        font-size: 1rem;
        font-weight: normal;
    }

    &__price {
        color: $txt-second-color;
        font-weight: 200;
        margin-bottom: 5px;
        font-size: 1.4rem;

    }

    &__btn {
       
        @include tablet {
            display:none;
        }
        
    }
}

.product-card_price_old {
    color: $txt-main-color;
    margin-left: 15px;
    font-weight: 600;
    font-size: 1.5rem;
}